html {
    font-size: 62.5%;
  }

#logo {
    width: 5.625rem;
    height: auto;
}

@media (min-width: 768px) {
    #logo {
        width: 8em;
    }
}

@media (min-width: 1200px) {
    #logo {
        width: 10em;
    }
}

.nav_link{
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    transition: all 0.3s ease;
    font-family: 'Charm';
}

.nav_link:hover {
    color: rgb(93, 179, 55);
    text-decoration: underline;
    background-color: white;
}

header {
    background-color: #1b2a41;
    transition: all 0.3s ease;
}

header:hover {
    background-color: #174b99;
}

footer {
    background-color: #1b2a41;
}

.heading_footer {
    color: white;
    font-family: 'Charm';
}

.paragraph_footer {
    color: white;
    font-family: 'Roboto';
}
