<footer id="social">
    <a href="index.html" target="_blank">
        <img src="assets/images/logo_Lemkadem_Elias.png"
        alt="logo du développeur web Lemkadem Elias"
        type="Mon logo"
        class="logo">
    </a>
    <br>
    <a href="https://twitter.com/" target="_blank">
        <img src="assets/icons/icon_twitter.svg"
        type="link to my twitter account"
        alt="link to my twitter account">
    </a>
    <br>
    <a href="https://www.instagram.com/" target="_blank">
        <img src="assets/icons/icon_instagram.svg"
        type="link to my instagram account"
        alt="link to my instagram account">
    </a>
</footer>
