<footer id="social">
    <div>
        <a href="index.html" target="_blank">
            <img src="assets/images/logo_Lemkadem_Elias.svg"
            alt="logo du développeur web Lemkadem Elias"
            type="Mon logo"
            class="logo">
        </a>
        <h2 class="heading_footer">Nano</h2>
        <p class="paragraph_footer">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos excepturi vitae quod esse optio in tempora dolore dolores culpa? Aut possimus dolores vel, at facilis omnis nesciunt minus. Aliquam, consequatur.
        Illo maiores facilis sunt voluptatibus beatae nulla eveniet officia eligendi rerum cum neque aut quidem ratione quia ad dignissimos corrupti distinctio repudiandae provident commodi, amet possimus ab! Explicabo, dolore quo?
        Ipsam, quaerat nulla? Iste harum perferendis ullam ipsum cum dolorem itaque? Fugiat provident eius consectetur beatae, alias itaque eum odit rem doloribus, vel velit saepe accusamus, iste ipsa quasi in.
        Recusandae quas eveniet sit ut eum rem temporibus cumque animi est, sint necessitatibus totam harum iure natus atque quis tenetur tempora vitae quisquam maxime! Repellat quam ipsam id explicabo ex.</p>
    </div>
    <div>
        <h3>Menu</h3>
        <a href="index.html" class="nav_link">Home</a>
        <a href="about.html" class="nav_link">About</a>
    </div>
    <div>
        <a href="https://twitter.com/"target="_blank">
            <img src="assets/icons/icon_twitter.svg"
            type="link to my twitter account"
            alt="link to my twitter account">
        </a>
        <a href="https://www.instagram.com/" target="_blank">
            <img src="assets/icons/icon_instagram.svg"
            type="link to my instagram account"
            alt="link to my instagram account">
        </a>
    </div>
</footer>
