<header>
    <div>
        <div>
            <a href="index.html" target="_blank">
                <img src="assets/images/logo_Lemkadem_Elias.svg"
                alt="logo du développeur web Lemkadem Elias"
                type="Mon logo"
                id="logo">
            </a>
            <p class="slogan_header"><em>LEVEL UP YOUR TEAM !</em></p>
            <p class="slogan_header"><em>with Lemkadem Elias</em></p>
        </div>
        <div>
            <a href="#social" target="_blank" class="nav_link">Social</a>
        </div>
    </div>
</header>